.word {
  font-size: 20px;
  border: 1px solid black;
  width: 4rem;
  height: 4rem;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.word-gray {
  background-color: gray;
}

.word-green {
  background-color: green;
}

.word-yellow {
  background-color: yellow;
}
