<app-title caption="Wordle"></app-title>
<div class="guess">
  <label class="guess-header">Enter the next guess</label>
  <div class="guess-input">
    <app-text-input #guessInput></app-text-input>
    <app-button #okBtn title="OK" (click)="onOkClick()"></app-button>
  </div>
</div>
<div class="game-body">
  <div class="words-container" *ngFor="let cellRow of cells">
    <div class="row" *ngFor="let cell of cellRow">
      <app-cell [content]="cell.content" [status]="cell.status" [color]="cell.color"></app-cell>
    </div>
  </div></div>
<div class="reset">
  <app-button title="RESET" (click)="onResetClick()"></app-button>
</div>
<app-title *ngIf="isGameOver" [caption]="isGameOver"></app-title>
