<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div *ngIf="(listId === -1);else update">
  <h2>Add new list</h2>
</div>
<ng-template #update>
  <h2>Edit list</h2>
</ng-template>
<div class="form" [formGroup]="group">
  <div class="form-field" *ngIf="control('caption') as field">
    <label>Caption</label>
    <input type="text" [formControl]="field">
    <app-errors-presenter [errors]="field.errors"></app-errors-presenter>
  </div>
  <div class="form-field" *ngIf="control('description') as field">
    <label>Description</label>
    <textarea rows="3" [formControl]="field"></textarea>
    <app-errors-presenter [errors]="field.errors"></app-errors-presenter>
  </div>
  <div class="form-field" *ngIf="control('color') as field">
    <label>Color</label>
    <select name="colors" id="colors"
            [formControl]="field"
            [style.color]="field.value">
      <option *ngFor="let color of colors"
              [value]="color.code"
              [style.color]="color.code">
        {{color.name}}
      </option>
    </select>
    <app-errors-presenter [errors]="field.errors"></app-errors-presenter>
  </div>
  <div class="form-field" *ngIf="control('icon') as field">
    <label>Icon</label>
    <mat-select name="icons" id="icons"
                [formControl]="field"
                [style.color]="field.value">
      <mat-select-trigger>
        <mat-icon>{{field.value}}</mat-icon>
      </mat-select-trigger>
      <mat-option *ngFor="let icon of icons" [value]="icon">
        <mat-icon>{{icon}}</mat-icon>
      </mat-option>
    </mat-select>
    <app-errors-presenter [errors]="field.errors"></app-errors-presenter>
  </div>
  <button [disabled]="!group.valid" (click)="saveList()">Save</button>
</div>
