.title {
  display: flex;
}

.body {
  margin: 10px;
  display: grid;
  grid-template-areas:
    'icon description'
    'icon buttons';
  grid-template-columns: 100px auto;
  align-items: center;
}

mat-icon {
  grid-area: icon;
  font-size: 80px;
  width: 80px;
  height: 80px;
}

.description {
  grid-area: description;
}

.buttons {
  grid-area: buttons;
}

button {
  margin: 0px 10px;
  padding: 4px 8px;
  border-radius: 5px;
  border-width: 1px;
  background-color: white;
  /*transition-duration: 0.4s;*/
  cursor: pointer;
}

button:hover:enabled {
  color: white;
  background-color: #9cb7e8;
}

button:disabled {
  opacity: 0.6;
  cursor: auto;
}

.cancel {
  background-color: green;
}

.cancel:hover:enabled {
  color: green;
  border: 2px solid green;
  background-color: white;
}

.delete {
  background-color: rgba(255, 0, 0, 0.64);
}

.delete:hover:enabled {
  color: red;
  border: 2px solid red;
  background-color: white;
}

.navigator {
  cursor: pointer;
}

section {
  margin-left: 20px;
}

input {
  margin-left: 10px;
}


