.pt-button button {
  display: grid;
  padding: 10px 40px;
  border-radius: 4px;
  background-color: blue;
  color: white;
  cursor: pointer;
  outline: none;
  border: 0;
  box-shadow: inherit;
}

.disabled button {
  background-color: gray;
  cursor: initial;
}
