.root {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-rows: auto 1fr;
}

.title-area {
  grid-column: 1 / -1;
  grid-row: 1;
}

h1 {
  text-align: center;
  color: cornflowerblue;
  background: rgba(100, 149, 237, 0.22);
  margin: 0px;
  padding: 6px;
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.8) repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.overlay .popup {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 40%;
  height: 70%;
}
